*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #f0d0c0 0%, #add8e4 50%, #ffffff 100%);
}

main {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  margin: auto;
  margin-top: 8rem;
}

.getBtnqoute {
  cursor: pointer;
  background-color: #f7e6de;
  border: 2px solid black;
  border-radius: 8px;
  height: 2.5rem;
  font-size: 1.25rem;
  transition: background-color 100ms ease;
  margin-top: 3rem;
  align-self: center;
}

.getBtnqoute:hover {
  background-color: #add8e4;
}

.quoteContainer {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.quote-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.quote-author {
  font-family: "Courier New", Courier, monospace;
}
